::-webkit-input-placeholder {  color: #74abb3;  }
:-moz-placeholder {  color: #74abb3;  }
::-moz-placeholder {  color: #74abb3;  }
:-ms-input-placeholder {  color: #74abb3;  }

html, body {
  padding: 0;
  margin: 0;
}

body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background: #1f2324;
}

header {
  height: 110px;
  width: 100%;
  padding: 8px 0;
  box-sizing: border-box;
  background: #3f7e8e;
}
nav {
  height: 98px;
  width: 1280px;
  margin: 0 auto;
}

.homeBtn {
  text-decoration: none;
}

.subnav{
  list-style: none;
  display: inline-block;
  float: right;
  margin: 0;
}

.subnav li{
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.subnav li img {
  display:  block;
  margin: 4px 0 8px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content  {
  text-align: center;
  background: #f5ffff;
  border-radius: 0;
  padding: 20px 0;
}

.ngdialog.ngdialog-theme-default .ngdialog-content h1 {
  margin: 15px auto;
}
.alt-link {
  cursor: pointer;
  color: #3F7E8E;
}

.loginForm input {
  background: #ABD9D9;
  display: block;
  margin: 20px auto;
  font-size: 1.5em;
  color: #3F7E8E;
  border: 2px solid #3F7E8E;
  text-align: center;
  padding: 10px;
}

.loginForm input:focus{
  outline: 4px solid #3F7E8E
}

.loginForm button {
  height: 50px;
  width: 160px;
  color: #F5FFFF;
  font-size: 1.5em;
  display: block;
  text-decoration:none;
  border-top:2px solid #FF5500;
  border-right:2px solid #FF5500;
  border-bottom:2px solid #7F2812;
  border-left:2px solid #7F2812;
  background: #C54221;
  margin: 0 auto 20px;
}

canvas {
  margin: 20px auto;
}