<div>
  <h1>{{action}}</h1>

  <a ng-click="toggleLogin()" class="alt-link">{{toggle}}</a>

  <form class="loginForm">
    <input type="text" ng-model="username" placeholder="username" autofocus required>
    <input type="password" ng-model="password" placeholder="password" required>
    <input type="password" ng-model="repeatPW" placeholder="repeat password"
           ng-show="registering" ng-required="registering">
    <input type="email" ng-model="email" placeholder="email"
           ng-show="registering" ng-required="registering">
    <button type="submit">SUBMIT</button>
  </form>
</div>